<ion-header>
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding style="text-align:center">
  <form (ngSubmit)="login_user()">
    <ion-item>
      <ion-label floating>Usuario</ion-label>
      <ion-input type="text" [(ngModel)]="user.name" name="name" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="user.password" name="password" required></ion-input>
    </ion-item>
    <button ion-button class ="botonLogin" type="submit" block>Login</button>
  </form>

  <ion-grid>
    <p style="font-size: 17px;">
     ¿No tienes cuenta? <a (click)="showRegistroPage()">Regístrate</a>
    </p>  
   </ion-grid>
</ion-content>
