<ion-content padding>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Billete Ida (0,01€)</ion-card-subtitle>
        <ion-card-title>Murcia - Madrid</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Billete sencillo (solo Ida) en clase turista. Válido para todos los públicos. PROMO: Hazte con tu billete hoy por solo 0,01€.
        <br>
        <br>
        <div text-right>
          <ion-button (click)="comprarBillete()" fill="outline" slot="end" [disabled]="botonInactivo">Comprar</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  

  <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Billete Ida/Vuelta (10,60€)</ion-card-subtitle>
        <ion-card-title>Murcia - Madrid</ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
        Billete combinado (Ida y vuelta) en clase turista. Válido para todos los públicos.
        <br>
        <br>
        <div text-right>
          <ion-button (click)="comprarBilleteAgotado()" color="danger" fill="outline" slot="end" [disabled]="botonAgotadoInactivo">Agotado</ion-button>
        </div>
      </ion-card-content>
    </ion-card>

</ion-content>
