<ion-content padding>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Billete sencillo (0,01€)</ion-card-subtitle>
        <ion-card-title>Nueva Condomina-Universidades</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Billete sencillo (solo Ida) válido para todos los públicos. OFERTA: Hoy solo 1 cént por trayecto, ¡aprovecha!
        <br>
        <br>
        <div text-right>
          <ion-button (click)="comprarBillete()" fill="outline" slot="end" [disabled]="botonInactivo">Comprar</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  

  <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Billete Ida/vuelta (9,45€)</ion-card-subtitle>
        <ion-card-title>Nueva Condomina-Universidades</ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
        Billete combinado (Ida y vuelta) válido para todos los públicos de Lunes a Viernes (Excepto víspera de festivos).
        <br>
        <br>
        <div text-right>
          <ion-button (click)="comprarBilleteAgotado()" color="danger" fill="outline" slot="end" [disabled]="botonAgotadoInactivo">Agotado</ion-button>
        </div>
      </ion-card-content>
    </ion-card>

</ion-content>
