ion-content{
    --background: linear-gradient(197deg, rgb(18, 1, 162) 0%, rgb(63, 220, 255) 100%) !important;
}

ion-card{
   // --background: #fff url('../../assets/icon/back.jpg') no-repeat;
   background-color: white;
    padding-bottom: 1em;
    margin-bottom: 3em;
}